{% extends 'store/base.html' %}
{% load static %}
{% block content %}
<html>
	<head>
		<meta charset="utf-8">
		<title>Life Gems</title>
	</head>
	<body>
		<div class="container-fluid mt-3">
			<div class="row">
				<div class="col-lg-3 mx-auto"></div>
					<div class="list-group">
						<a href="/" class="list-group-item list-group-item-action btn btn-outline-success">All Products</a>
							{%for category in categories %}
									<a href="/?category={{category.cat_id}}"
												class="list-group-item list-group-item-action btn btn-outline-success">{{category.name</a>
									{%for subcategory in subcategories %}
												<a href="/?subcategory={{subcategory.sub_id}}"
														class="list-group-item list-group-item-action btn btn-outline-success">{{subcategory.name</a>
									{%endfor%}
							{%endfor%}
			</div>
			</div>
		</div>
		</div>
		<a href="/checkout/">Check Out</a>
	</body>
	<footer>
		<a href="/admin/"><p>Admin Login</p></a>	
	</footer>
</html>

{% endblock %}